<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-content><ion-toolbar>
  <form [formGroup] = 'formularioIniciar'>
    <ion-input formControlName="nombre"  label="Ingrese nombre" label-placement="floating" fill="solid" placeholder=""></ion-input>
    <ion-item>
      <ion-input formControlName="contrasena" [(ngModel)]="password" [type]="passwordVisible ? 'text' : 'password'"></ion-input>
      <ion-icon name="{{ passwordVisible ? 'eye-off' : 'eye' }}" slot="end" (click)="contraOcultar()"></ion-icon>
    </ion-item>
    
    
    <br />

    <ion-button (click)="grabarusuario()">Iniciar sesión</ion-button> 
    <ion-button (click)="recuperarcontrasena()">Reestablecer contraseña </ion-button> 
    
  </form>
</ion-toolbar>
</ion-content>


</ion-content>
