<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-content>
  <br>
  <form [formGroup] = 'formularioIniciar' (*ngSubmit)="submitform()">
    <ion-input formControlName="nombre"  label="Ingrese nombre" label-placement="floating" fill="solid" placeholder=""></ion-input>
    <ion-input formControlName="contrasena" label="Ingrese contraseña" label-placement="floating" fill="solid" placeholder="" type="password"></ion-input>

     

    
    
    <br />

    <ion-button  type="submit" [disabled]="!formularioIniciar.valid">Iniciar sesión</ion-button>
    <ion-button (click)="recuperarcontrasena()">Reestablecer contraseña </ion-button> 
    
  </form>

</ion-content>


</ion-content>
