<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <br>
    <form [formGroup] = 'formularioRecuperar'>
      <ion-input formControlName="nombre"  label="Ingrese nombre" label-placement="floating" fill="solid" placeholder=""></ion-input>
  
       
  
      
      
      <br />
      
      <ion-button (click)="volveralogin()">Guardar </ion-button> 
      <ion-button (click)="volveralogin()">Volver </ion-button> 
      
    </form>
  
  </ion-content>
  
  
  </ion-content>
  